<?php
/**
 * Category widget
 *
 * @var $block \PushON\SubcategoryWidget\Block\Widget\SubcategoryWidget
 */
?>
<?php
$title = $block->getTitle() ? __($block->getTitle()) : 'Categories';
?>

<?php $collection = $block->getCategoryCollection(); ?>
<ul class="subcategory-list">
    <?php foreach ($collection as $category): ?>
        <?php if (!$category->getIsActive()) {
            continue;
        } ?>
        <li class="subcategory-list__item">
            <a href="<?php echo $category->getUrl($category) ?>">
                <?php if ($category->getData('root_thumbnail')): ?>
                    <img src="<?php echo $block->getBaseUrl() . "/media/catalog/category/" . $category->getData('root_thumbnail'); ?>">
                <?php endif; ?>
                <?php echo $category->getName() ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>

